:root {
	--main-color:#212121;
	--secondary-color:#757575;
	--third-color:#fff;
	--four-color:#2196F3;
	--five-color:#F5F4FA;
	--six-color:#2F303A;
	--seven-color:#eee;
	--eight-color:#AFB1B8;
	--nine-color:#ececec;
	--ten-color:#44454e;
}
body {
	font-size:14px;
	font-weight:400;
	font-style:normal;
	font-family:'Roboto', sans-serif;
}
ul,li {
	margin-top:0;
	margin-bottom:0;
	padding-left: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
}
.container {
	width:1200px;
	margin:0 auto;
	padding:0 15px;
}
section {
	padding: 94px 0;
}
img {
	display:block;
	height:auto;
	max-width:100%;
}
/*--HEADER--START--*/
.header {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}
.menu {
	height:80px;
	display:flex;
	border:1px solid #ececec;
}
.top {
	display: flex;
}
.menu ul {
	height:45px;
	 margin-top:32px;

}
.menu li {
	display:inline-flex;
	margin-left:15px;
}
.menu a {
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
color:var(--main-color);

}
.menu a:hover {
	color:var(--four-color);
}
.menu a:focus {
	color:var(--four-color);
}
a.logo  {
	color:var(--four-color);
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: left;
	margin-top: 32px;
}
.logo-color-black {
	color:var(--main-color);
}
.navigation{
	display: inline;
    margin-right: 0;
    width: 400px;
    padding-left: 0;
}
.navigation a::after {
	width: auto;
	height:5px;
	background-color: var(--four-color);
}
.navigation a {
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
text-align: left;
color:var(--main-clor);
margin-top:32px;
position:relative;
}
.navigation ul {
	display:inline-flex;
	margin-top: 32px;
}
.navigation li {
	display:inline;
	margin-left:50px;
}
.navigation li:first-child {
margin-left:93px;
}
.navigation li:hover {
	border-bottom: 4px solid var(--four-color);
}
.top {
	display:inline-flex;
	float:right;
	margin-top: 32px;
	width:300px;
}
.top-right a {
font-weight: 500;
letter-spacing: 0.02em;
color: var(--secondary-color);	
}
.top-icon {
	margin-right:10px;
	fill:var(--secondary-color);
}
.right  ul {
	float:right;
	display:inline-flexbox;
	margin-top:32px;
	
}
.right  li {
	display:inline;
	
}
.right a {
font-weight: 500;
line-height: 0.7;
letter-spacing: 0.02em;
text-align: left;
text-decoration:none;
color:var(--secondary-color);	
}
.top-right:hover {
	color:var(--four-color);
	fill:var(--four-color);

}
/*--HEADER--END--*/
/*--MAIN--HERO-START--*/
/*index.html*/

.hero  {
	padding:200px 0;
	background-color:#2F303A;
	background-image: url(../images/18.jpg);
	text-align: center;
	margin:0 auto;
}
.hero  h1 {
	font-size: 44px;
	font-style: normal;
	font-weight: 900;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-align: center;
	color:var(--third-color);
	width: 700px;
	margin:0 auto;
	text-transform: uppercase;

	
}
.hero  button {
	height:50px;
	width:200px;
	background: var(--four-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 0.53;
	letter-spacing: 0.06em;
	text-align: center;
	color:var(--third-color);
	border: none;
	
}
.backdrop  {
	visibility: hidden;
}
.modal {
	position:absolute;
	top:220px;
	right:535px;
	height:580px;
	width:530px;
	background: var(--third-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	z-index:95;
}
.modal img {
	float:right;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
}
.background {
	width:1600px;
	height:1024px;
	background: rgba(0, 0, 0, 0.2);
	left:0;
	top:0;
	position: absolute;
}
.backdrop.hidden {
	visibility:visible;
}
.info {
	padding-top:50px;
	padding-bottom:0;
}
.info h2 {
	visibility:hidden;
}
.info ul {
	height:279px;
	display: flex;
	flex-direction: row;
}
.info li {
	display:flex;
	flex-direction: column;
	width:270px;
	margin-left: 20px;
}
.info h3 {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: left;
	color:var(--main-color);
	padding-top:30px;
	text-transform: uppercase;


}
.info p {
	line-height: 1.7;
	letter-spacing: 0.03em;
	text-align: left;
	color: var(--secondary-color);
	padding-top:10px;

	
}
.info-icon {
	width: 270px;
	height: 120px;
	background-color:var(--five-color);
	position: relative;
	display:flex;
	justify-content: center;
	align-items: center;
}
.img {
	height:auto;
}
.img h2 {
	margin:0 auto;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--main-color);

}
.img ul {
	margin-top:50px;
	height:auto;
	width:1200px;
}
.img li {
		display:inline-block;
		padding-right:27px;
	position:relative;
}
.img li:last-child {
	padding-right:0;
}
.img-img {
	width:370px;
	position:relative;	
}
.img-block {
	position:absolute;
	height:60px;
	width:370px;
	bottom:0;
	background: rgba(47, 48, 58, 0.8);
}
.img-block a {
font-weight: 700;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--third-color);
	padding:27px 132px;
}
.person {
	height:648px;
	background-color: var(--five-color);
}
.person h2 {
margin: 0 auto;
font-size: 36px;
font-weight: 700;
letter-spacing: 0.03em;
text-align: center;
color:var(--main-color);

}
.person h3 {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.03em;
	text-align: center;
	color:var(--main-color) ;
	padding-top:30px;
	margin-bottom:10px;

}
.person-title-h4 {
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color:var(--secondary-color);
margin-bottom:16px;
font-weight:400;

}
.person p {
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
line-height: 1.2;
color:var(--secondary-color);

}
.person ul {
	width:1200px;
	padding-top:50px;
}
.person li {
			display:inline-block;
			margin-left:22.5px;
			background-color:var(--third-color);
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.person  img {
	width:270px;
	height:260px;
}
.social {
	width:270px;
	height:90px;
	display: flex;
}
.social ul {
	height:90px;
	width:270px;
	padding-top: 20px;
}
.social li:first-child {
	margin-left:26px;
}
.social li {
	display: inline-block;
	width:44px;
	height:44px;
	margin-left:10px;
	background-color: none;
    box-shadow: none;
    border-radius:none;
}
.social-link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon {
    fill: var(--eight-color);
}
.social li:hover .social-icon {
	fill: var(--third-color);
}
.social li:hover {
	width:44px;
	height:44px;
	border-radius: 50%;
	background-color: var(--four-color);
}
.social li:last-child {
	margin-right:26px;
}
.clients {


}
.clients h2 {
font-size: 36px;
font-weight: 700;
letter-spacing: 0.03em;
text-align: center;
color:var(--main-color);
margin-top: 0;
margin-bottom: 0;
padding-bottom: 50px;

}
.clients ul {
	display: flex;
	flex-direction: row;

}
.clients li {
	width:170px;
	display: inline-flex;
	border: 1px solid #AFB1B8;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;


}
.clients-icon {
	fill:var(--eight-color);
}
.clients li:hover {
	border: 1px solid var(--four-color);
}
.clients li:hover .clients-icon {
	fill:var(---four-color);
}
/*index.html-END-*/
/*portfolio.html*/
.top-filters {
	padding-top:80px;
	margin:0 auto;
}
.top-filters ul {
		margin:0 auto;

}
.top-filters li {
	display:inline-block;
	width:145px;
	height:38px;
}
.filters-title {
	display:none;
}
.filters-list {
	margin-bottom:50px;
	justify-content: center;
}
.filters-link {
font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color);
    background: var(--five-color);
    border-radius: 4px;
    padding: 6px 22px;
    border: none;	
}   
.filters-item {
	margin-right:20px;
}
.filters-link:hover {
	color:var(--third-color);
	background-color: var(--four-color);
}
.filters-item:last-child {
	margin-right:0px;
}
.content {
	padding-top:0;
}
.content ul {
	list-style:none;
	text-decoration:none;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.content-list {
	margin-top:50px;
	display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-column-gap: 30px;
	width:1200px;
}
.content li {
	list-style:none;
	text-decoration:none;
	display:flex;
	flex-direction:column;
	position: relative;
}
.content-item {
background: #FFFFFF;
border: 1px solid #EEEEEE;
margin-bottom:30px;
}
.content-item:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.content h3 {
font-family: 'Roboto', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;
color:#212121;
margin-left:15px;
margin-top:20px;
margin-bottom:4px;

}
.content-title-h4 {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
margin-left:15px;
margin-bottom:20px;

}
.content img {
	width: 370px;
	height: 294px;
}
.item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	flex-grow: 3;
}
.item-link {
	padding:6px 26px;
	width:145px;
	height:38px;
	background: #F5F4FA;
}
.overlay {
	position:absolute;
	width: 370px;
	height: 294px;
	background: rgba(33, 150, 243, 0.9);
	transform:translateY(100%); 
	transition: transform 250ms ease;
	visibility: hidden;
	color:var(--third-color);
}
.overlay p {
padding:63px 24px;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
color: var(--third-color);
}
.content-item:hover .overlay {
	transform:translateY(0);
	visibility: visible;
}
/*portfolio.html-END-*/
/*--MAIN--HERO-END--*/

/*--FOOTER--START--*/
.footer {
	height:252px;
	background-color:var(--six-color);
	display: flex;
	padding:60px 0;
}
.container-footer {
	width:1200px;
	margin:0 auto;
	padding:0 15px;
	display:flex;
	align-items: baseline;
}
.footer-list {
	display:flex;
}
.left {
	
}
.left a {
	text-decoration: none;
	}
.left ul {
	background-color:var(--six-color);
}
.left li {
	list-style:none;
}
.addres {
	margin-bottom: 9px;
}
.address ul {
	margin-top:6px;
}
.address li {
	list-style: none;

}
li.adress {
padding-top:6px;
margin-bottom:9px;
letter-spacing: 0.03em;
text-align: left;
color: var(--third-color);
font-style: normal;

}
li.email-phone {
margin-bottom:9px;
letter-spacing: 0.03em;
text-align: left;
color:var(--secondary-color);
font-style: normal;
}
.center {
margin-left:70px;
}
.center h3 {
font-weight: bold;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--third-color);
}
.center a {
	margin-right:40px;
}
.center ul {
	padding-left: 0;
}
.right {
	float:right;
	width:300px;
	display:flex;
	}
	.right h3 {
	font-weight: bold;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--third-color);
	}
	.right a {
		margin-right:40px;
		margin-left:10px;
		display:flex;
	}
	.right ul {
		padding-left: 0;
	}
	.footer-social-item {
		height:44px;
		width:44px;
		border-radius:50%;
		background-color:var(--ten-color);
	}
	.logo-color-white {
		color:var(--third-color);
	}
.email-phone:hover {
	color:var(--four-color);
}
.footer-social-item:hover .footer-social-icon {
	fill:var(--third-color);
}
/*--FOOTER--END--*/
